<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>produits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>


    <div  th:switch="${produits.id}">
    <form  action="#" th:object="${produits}" method="post">
  	  <h1  th:case="-1">Creation produits</h1>
	  <h1  th:case="*">Editer un produits</h1>
	  
        <input  type="text" autofocus="" required="" placeholder="Nom" th:field="*{nom}"></input>
        <input  type="text" id="inputEmail" required="" placeholder="Catégorie" th:field="*{categorie}"></input>
         <input  type="text" id="inputEmail" required="" placeholder="prix" th:field="*{prix}"></input>
        
        <button   type="submit" value="Submit">
            Submit
        </button>
        <button  type="reset" value="Reset">
            Reset
        </button>
    </form>
</div>




</body>
</html>