<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>employes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>

</head>
<body>


<script type="text/javascript">
window.onload = function () {
    document.getElementById("password1").onchange = validatePassword;
    document.getElementById("password2").onchange = validatePassword;
}
function validatePassword(){
var pass2=document.getElementById("password2").value;
var pass1=document.getElementById("password1").value;
if(pass1!=pass2)
    document.getElementById("password2").setCustomValidity("Passwords Don't Match");
else
    document.getElementById("password2").setCustomValidity(''); 
//empty string means no validation error
}
</script>


<div class="container">
 
      <!-- Static navbar -->
  		<div th:include="/admin/header :: header"></div>
  		
 <!-- 
     <div  th:switch="${employes.id}">
    <form  action="#" th:object="${employes}" method="post">
  	  <h1  th:case="-1">Creation employes</h1>
	  <h1  th:case="*">Editer un employes</h1>
 
        <input  type="text" autofocus="" required="" placeholder="Nom" th:field="*{nom}"></input>
        <input  type="text" id="inputEmail" required="" placeholder="Catégorie" th:field="*{categorie}"></input>
        <input  type="text" id="inputEmail" required="" placeholder="prix" th:field="*{prix}"></input>
        <input  type="text" autofocus="" required="" placeholder="Quantite" th:field="*{quantite}"></input>
        
        <button   type="submit" value="Submit">Submit</button>
        <button  type="reset" value="Reset">Reset</button>
    </form>
</div>   --> 		

<div  th:switch="${Employes.id}">
<form action="#" th:object="${employes}" method="post" class="form-horizontal">
<fieldset>
<!-- Form Name -->
  	  <legend  th:case="-1">Creation employes</legend>
	  <legend  th:case="*">Editer un employes</legend>




<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="nom">nom</label>
  <div class="controls">
    <input id="nom" name="nom" placeholder="nom" class="input-xlarge" required="" type="text" th:field="*{nom}"/>  
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="categorie">prenom</label>
  <div class="controls">
    <input id="prenom" name="prenom" placeholder="prenom" class="input-xlarge" required="" type="text" th:field="*{prenom}"/>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="prix">adresse</label>
  <div class="controls">
    <input id="adresse" name="adresse" placeholder="adresse" class="input-xlarge" required="" type="text" th:field="*{adresse}"/>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="quantite">Tel</label>
  <div class="controls">
    <input id="numero" name="numero" placeholder="numero" class="input-xlarge" required="" type="tel" th:field="*{numero}"/>
    </div>
  </div>
  
  <!-- Text input-->
<div class="control-group">
  <label class="control-label" for="quantite">E-mail</label>
  <div class="controls">
    <input id="mail" name="mail" placeholder="mail" class="input-xlarge" required="" type="email" th:field="*{mail}"/>
  </div>
</div>

  <!-- Text input-->
<div class="control-group">
  <label class="control-label" for="quantite">Mot de passe</label>
  <div class="controls">
    <input id="password1" name="mdp" placeholder="mdp" class="input-xlarge" required="" type="password"/>
  </div>
</div>

  <!-- Text input-->
<div class="control-group">
  <label class="control-label" for="quantite">Confirmation Mot de passe</label>
  <div class="controls">
    <input id="password2" name="mdp" placeholder="Confirmation mdp" class="input-xlarge" required="" type="password" th:field="*{mdp}"/>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-success" type="submit" value="Submit">Valider</button>
    <button id="reset" name="reset" class="btn btn-danger" type="reset" value="Reset">Annuler</button>
  </div>
</div>


</fieldset>
</form>
</div>




  <!-- pied de page -->
  <div th:include="/admin/footer :: footer"></div>

</div>



<!-- /container -->
<!--Bootstrap core JavaScript-->
<!--Placed at the end of the document so the pages lo…-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!--IE10 viewport hack for Surface/desktop Windows 8 …-->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>