 
  <div th:fragment="header">   
   <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Administrateur</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/prod">Gestion des produits</a></li>
              <li><a href="/employes">gestion des employees</a></li>
            </ul>
            
            
            <ul class="nav navbar-nav navbar-right">
            <li>
            		<form  action ="/ac" class="navbar-form navbar-right" role="form" th:action="@{/ac}" method="post">
            		
           <button type="submit" class="btn btn-success">Login</button>
          </form> </li>                   
          </ul>
          
          
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
	</div>