<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>

</head>

<body>

<div class="container">
 
      <!-- Static navbar -->
  		<div th:include="/admin/header :: header"></div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      
       <ul class="nav nav-pills">
  			<li class="active"><a href="/create">Ajouter un nouveau employes</a></li>
		</ul>
		
 <div class="bs-example">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Civilite</th>
       <th>Nom</th>
       <th>Prenom</th>
       <th>Adresse</th>
       <th>Numero</th>
       <th>E-mail</th>
       <th>Mot de passe</th>
      <th>Modifer</th>
      <th>Supprimer</th>
      
    </tr>
  </thead>
  <tbody th:each="employes : ${employes}">
    <tr>
     <td th:text="${employes.civilite}"></td>
      <td  th:text="${employes.nom}"></td>
      <td th:text="${employes.prenom}"></td>
       <td th:text="${employes.adresse}"></td>
       <td th:text="${employes.numero}"></td>
        <td th:text="${employes.mail}"></td>
         <td th:text="${employes.mdp}"></td>
      <td > <span class="label label-important"><a th:href="@{/edit(id=${employes.id})}">edit</a></span> </td>
	  <td > <span class="label label-important"><a th:href="@{/delete(id=${employes.id})}">delete</a></span>  </td>
    </tr>
  </tbody>
</table>
</div>
       <ul class="nav nav-pills">
  			<li class="active"><a href="/accueil">Retour</a></li>
		</ul>

      </div>
      
     <!-- pied de page -->
    <div th:include="/admin/footer :: footer"></div>
    
 </div>
    
<!-- /container -->
<!--Bootstrap core JavaScript-->
<!--Placed at the end of the document so the pages lo…-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!--IE10 viewport hack for Surface/desktop Windows 8 …-->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>