<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Caisse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
</head>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<body onload="preselected()">

<div class="container">

     <div th:include="/header :: header"></div>  
     
     

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Caisse en ligne</h1>


<div style="display:inline-block; width:30%;">
      <h3>Liste des produits</h3>
     
 <form  onsubmit="return getSelectedOptions();" action="#" th:object="${facture}" method="post" class="form-horizontal">
   
    <select th:field="*{produit}"  id="listeproduits" name="listeproduits" class="input-xlarge" multiple="multiple" style="width: 300px;height: 300px">
      <option th:each="produits : ${products}" 
      		  th:value="${produits.nom}" 
      		  th:text="${produits.nom} +'.......................'+  ${produits.prix} + 'Euro'"></option>
    </select>
 
  <div class="controls">
  <label class="control-label" for="nom">Quantite: </label>
    <input th:field="*{quantite}" type="number" min="1" th:value="${facture.quantite}" id="qte" name="qte" placeholder="quantite" class="input-xlarge" required="required"/>    
  </div>
    
    <div th:switch="${somme}">
     <span th:case="null" ><input type="submit" value="Modifer" class="btn btn-success" /></span>
     <span th:case="0" ><input type="submit" value="Ajouter" class="btn btn-success" /></span>
      <span th:case="*" ><input type="submit" value="Ajouter" class="btn btn-success" /></span>
     
    </div>
</form>    
</div>

<script type="text/javascript">
function getSelectedOptions(){
	// alert('hi');
	 var r=true;
	var foo = document.getElementById('listeproduits');
	if (foo)
	{
	   if (foo.selectedIndex == -1)
	   {
	      //foo.selectedIndex = 0;
	      alert('product not selected');
	       return false;
	   }
		   return true; 
	  
	}
	
	
}

</script>
<script type="text/javascript">
function preselected(){
var c=0;	
var foo = document.getElementById('listeproduits');
var x = document.getElementById("m").innerHTML;
c=parseInt(x);
if(c==0){
//alert("blabla"+x);	
}else{
	if (foo)
	{
	   if (foo.selectedIndex == -1)
	   {
	     foo.selectedIndex = c-1;
	       
	   }


}


//document.getElementById("vef").innerHTML = x;
}

}
</script>

<script type="text/javascript">

function GetCellValues() {
	/*<![CDATA[*/
	 var foo = document.getElementById('listeproduits');
	 var list = foo.value;
	
	if (foo)
	{          
    var table = document.getElementById('tab');
    for (var r = 0, n = table.rows.length; r < n; r++) {
        for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
            //alert(table.rows[r].cells[c].innerHTML);
            if(table.rows[r].cells[c].innerHTML==list){
            	alert("the product " +table.rows[r].cells[c].innerHTML+" allready exist");
            	return false;
            }
        }
    }
	}
	return true;
    /*]]>*/
}
	      //  console.log(this.innerHTML);
     //iterate through columns
     //columns would be accessed using the "col" variable assigned in the for loop
     


</script>
<script text="text/javascript">
/*<![CDATA[*/


/*]]>*/
function validateForm(){
	/*<![CDATA[*/
	  <       
	  var validation = false;
       if( !getSelectedOptions()){
    	   
    	   return false;
       }
      
	   return true;
	    /*]]>*/
}
</script>


<div style="display:inline-block; width:70%; float:right;">
      
     <div  th:switch="${somme}">
   
  				<h3 id="vef" th:case="null" >Modification</h3>
  				<h3  th:case="0" >Facture</h3>	
                <h3 th:case="*" >Facture</h3>				
      </div>
      <form action="#" th:action="@{/facture}" th:object="${facture}" class="form-horizontal">
<fieldset>
<!-- Text input-->
<div class="control-group" th:switch="${somme}">
   
  				<span  th:case="null"></span>
  				<span th:case="*" ><label class="control-label" for="nom">Nom du client: </label></span>
				
  
  <div class="controls" th:switch="${somme}">

  				<span  th:case="null"></span>
  				<span th:case="*" ><input id="nom" name="nom" placeholder="nom" required="required" class="input-xlarge" type="text" th:field="*{nomclient}"/> </span>
			
       
  </div>
</div>
<!-- Text input-->
<div class="control-group" th:switch="${somme}">

  				<span th:case="null"></span>
  				<span th:case="*" ><label class="control-label" for="textinput">Prenom du client:</label> </span>
					

  <div class="controls" th:switch="${somme}">

  				<span  th:case="null"></span>
  				<span  th:case="*" ><input id="textinput" name="textinput" placeholder="Prenom" required="required" class="input-xlarge" type="text" th:field="*{prenomclient}"/>   </span>
				</div>	
 
</div>


	<div >
	  <h4   th:text="${MOD}"></h4>
	  <h4 id="m"  th:text="${MD}" style="display:none;"></h4>
	  
	</div>


 <div class="bs-example">
    <table id="tab" class="table table-hover">
  <thead>
    <tr>
      <th >Produits</th>
       <th>prix</th>
       <th>Quantite</th>
       <th id="s"  th:switch="${somme}"><span th:case="null" ></span>
  				<span th:case="0" >Total</span>	
  				<span th:case="*" >Total</span></th>
    
       <th  th:switch="${somme}"><span th:case="null" ></span>
  				<span th:case="0" >Editer</span>	
  				<span th:case="*" >Editer</span></th>
  				
      <th  th:switch="${somme}"><span th:case="null" ></span>
  				<span th:case="0" >Supprimer</span>	
  				<span th:case="*" >Supprimer</span></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="facture : ${facturess}">
      <td id="pName" th:text="${facture.produit}"></td>
       <td th:text="${facture.prix}+' €'"></td>
      <td  th:text="${facture.quantite}"></td>
	  <td th:switch="${somme}" >
	  <span th:case="null" ></span>
  				<span th:case="0" th:text="${facture.total+' €'}">Total</span>	
  				<span th:case="*" th:text="${facture.total+' €'}">Total</span></td>
	  <td> <span class="label label-important" >
	   <span  th:switch="${somme}">
   
  				<span th:case="null" ></span>
  				<span th:case="0" ><a th:href="@{/editfacture(id=${facture.id})}">edit</a></span>	
  				<span th:case="*" ><a th:href="@{/editfacture(id=${facture.id})}">edit</a></span>	
      </span> </span></td>
    
	   <td > <span class="label label-important" >
      <span th:switch="${somme}" >
	   <span th:case="null" ></span>
  				<span th:case="0" ><a th:href="@{/deletefacture(id=${facture.id})}">delete</a></span>	
  				<span th:case="*" ><a th:href="@{/deletefacture(id=${facture.id})}">delete</a></span>
    </span> </span></td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
	  <td style="font-weight:bold;">
	  			<div th:switch="${somme}">
  				<p th:case="0"></p>
  				<p  th:case="null"></p>
  				<p th:case="*" th:text="'Subtotal: '+${somme}+'€'"></p>
				</div>	
	  </td>
	  <td></td>
	  <td ></td>
    </tr>
  </tbody>
</table>
</div>






</fieldset>

<div>
<div th:switch="${somme}">
  				<p th:case="0"></p>
  				<p  th:case="null"></p>
  				<p th:case="*" ><input type="submit" value="Valider" class="btn btn-success" /></p>
				</div>	
</div>
</form>
      
      
      
      
      
      
      
      
</div>
   
   
   










    </div>
   
 </div>
 
<!-- /container -->
<!--Bootstrap core JavaScript-->
<!--Placed at the end of the document so the pages lo…-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!--IE10 viewport hack for Surface/desktop Windows 8 …-->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>