<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login employes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
	
	   <style type="text/css">
     .container {
    width: 30%;
}  
   </style>
	
	
    </head>
    
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <body>
          
     <div class="container">
      <form class="form-signin" action="/accueil" th:action="@{/accueilemploi}" th:object="${employes}" role="form" method="post">
      <h3 class="form-signin-heading">Authentification employes</h3>
      		<div class="form-group" th:class="${#fields.hasErrors('nom')}? 'control-group input error'">
              <input id="inputnom" class="form-control" required="" autofocus="" type="text" placeholder="Login" name="login" th:field="*{nom}"/>
               
            </div>
            <div class="form-group">
              <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password" name="pwd" th:field="*{mdp}"/>
          <span class="help-block" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
            </div>      
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"/> Remember me
          </label>
        </div>
             <button type="submit" class="btn btn-success">Sign in</button>
      </form>

    </div>


        
    </body>
</html>